Package: sh.litten.melody
Name: Melody 🎶
Depends: mobilesubstrate, preferenceloader, firmware (>= 11), ws.hbang.common (>= 1.14), com.spark.libsparkcolourpicker
Version: 1.2.3
Architecture: iphoneos-arm
Description: Can You Hear Those Colorful Melodies?
Maintainer: Litten <hiya@litten.love>
Author: Litten <hiya@litten.love>
Section: Tweaks
Depiction: https://repo.litten.love/depictions/mdy/index.html
SileoDepiction: https://repo.litten.love/depictions/mdy/mdy.json
Icon: https://repo.litten.love/depictions/mdy/assets/icon.png