<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>@Litteeen</string>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
            <key>label</key>
            <string>Litten</string>
            <key>user</key>
            <string>Litteeen</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>sh.litten.melodypreferences</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>Enabled (Respring required)</string>
			<key>PostNotification</key>
			<string>sh.litten.melodypreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>What Should Be Colored?</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.melodypreferences</string>
			<key>key</key>
			<string>colorUIButton</string>
			<key>label</key>
			<string>UIButtons</string>
			<key>PostNotification</key>
			<string>sh.litten.melodypreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.melodypreferences</string>
			<key>key</key>
			<string>colorUIButtonBarButton</string>
			<key>label</key>
			<string>UIButtonBarButtons</string>
			<key>PostNotification</key>
			<string>sh.litten.melodypreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.melodypreferences</string>
			<key>key</key>
			<string>colorUITabBarButton</string>
			<key>label</key>
			<string>UITabBarButtons</string>
			<key>PostNotification</key>
			<string>sh.litten.melodypreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.melodypreferences</string>
			<key>key</key>
			<string>colorUIButtonLabel</string>
			<key>label</key>
			<string>UIButtonLabels</string>
			<key>PostNotification</key>
			<string>sh.litten.melodypreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.melodypreferences</string>
			<key>key</key>
			<string>colorMPButton</string>
			<key>label</key>
			<string>MPButton</string>
			<key>PostNotification</key>
			<string>sh.litten.melodypreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.melodypreferences</string>
			<key>key</key>
			<string>colorMPRouteButton</string>
			<key>label</key>
			<string>MPRouteButton</string>
			<key>PostNotification</key>
			<string>sh.litten.melodypreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.melodypreferences</string>
			<key>key</key>
			<string>colorUISwitch</string>
			<key>label</key>
			<string>UISwitch</string>
			<key>PostNotification</key>
			<string>sh.litten.melodypreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.melodypreferences</string>
			<key>key</key>
			<string>colorCSQuickActionsButton</string>
			<key>label</key>
			<string>CSQuickActionsButton</string>
			<key>PostNotification</key>
			<string>sh.litten.melodypreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Color Options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.melodypreferences</string>
			<key>key</key>
			<string>useCustomColor</string>
			<key>label</key>
			<string>Enable Custom Color</string>
			<key>PostNotification</key>
			<string>sh.litten.melodypreferences/ReloadPrefs</string>
		</dict>
		<dict>
		<key>cell</key>
		<string>PSLinkCell</string>
		<key>cellClass</key>
		<string>SparkColourPickerCell</string>
		<key>libsparkcolourpicker</key>
		<dict>
			<key>defaults</key>
			<string>sh.litten.melodypreferences</string>
			<key>key</key>
			<string>customColor</string>
			<key>fallback</key>
			<string>#147efb</string>
			<key>alpha</key>
			<false/>
		</dict>
		<key>label</key>
		<string>Custom Color</string>
		<key>key</key>
		<string>customColor</string>
		<key>PostNotification</key>
		<string>sh.litten.melodypreferences/ReloadPrefs</string>
	</dict>
	<dict>
		<key>cell</key>
		<string>PSLinkListCell</string>
		<key>default</key>
		<integer>0</integer>
		<key>detail</key>
		<string>PSListItemsController</string>
		<key>defaults</key>
		<string>sh.litten.melodypreferences</string>
		<key>label</key>
		<string>Preset:</string>
		<key>key</key>
		<string>selectedPresetList</string>
		<key>validValues</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>9</integer>
			<integer>10</integer>
			<integer>11</integer>
			<integer>12</integer>
		</array>
		<key>validTitles</key>
		<array>
			<string>None</string>
			<string>systemBlue</string>
			<string>systemGreen</string>
			<string>systemIndigo</string>
			<string>systemOrange</string>
			<string>systemPink</string>
			<string>systemPurple</string>
			<string>systemRed</string>
			<string>systemTeal</string>
			<string>systemYellow</string>
			<string>Litten's Pink</string>
			<string>Litten's Green</string>
			<string>taki's Purple</string>
		</array>
		<key>PostNotification</key>
		<string>sh.litten.melodypreferences/ReloadPrefs</string>
	</dict>
	<dict>
		<key>cell</key>
 		<string>PSLinkCell</string>
 		<key>label</key>
 		<string>Advanced Coloring</string>
 		<key>detail</key>
 		<string>MDYSubPrefsListController</string>
 		<key>MDYSub</key>
 		<string>AdvancedSub</string>
 	</dict>

		<!-- Please Support taki <3 -->
	 	<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Icon Design</string>
		</dict>
		<dict>
            <key>action</key>
            <string>twittertaki</string>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>@74k1_</string>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
            <key>label</key>
            <string>taki</string>
            <key>user</key>
            <string>74k1_</string>
        </dict>

		<!-- Support Me -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Support Me</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Little Donation 🌺</string>
			<key>subtitle</key>
			<string>Helps Me To Pay For My Server</string>
			<key>url</key>
			<string>https://paypal.me/Litteeen</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Feature Request? ✨</string>
			<key>subtitle</key>
			<string>Send Me An Email With Your Request</string>
			<key>url</key>
			<string>mailto:hello@litten.sh?subject=Melody%20Feature%20Request</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Send Me Your Color HEX 🎨</string>
			<key>subtitle</key>
			<string>I Will Include It In A New Update</string>
			<key>url</key>
			<string>mailto:hello@litten.sh?subject=Melody%20Color%20HEX</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Source Code 🌙</string>
			<key>subtitle</key>
			<string>Github</string>
			<key>url</key>
			<string>https://github.com/Litteeen/Melody</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Found A Bug? 🌧</string>
			<key>subtitle</key>
			<string>Leave A Bug Report Here</string>
			<key>url</key>
			<string>https://github.com/Litteeen/Melody/issues/new</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Melody By Litten, Made With ❤️</string>
			<key>isStaticText</key>
			<true/>
		</dict>

	</array>
	<key>title</key>
	<string>Melody</string>
</dict>
</plist>
